services:
  app:
    build:
      context: .
      dockerfile: docker/local/Dockerfile
    container_name: portfolio-dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    depends_on:
      - json-server

  json-server:
    image: vimagick/json-server
    container_name: portfolio-json-server
    ports:
      - "3000:80"
    volumes:
      - ./json_server/db.json:/data/db.json
    command: -p 80 -h 0.0.0.0 /data/db.json
