@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', -apple-system, sans-serif;
  background: #16181D;
  background-size: 224px;
  text: #fff;
  -webkit-font-smoothing: antialiased;
}
